/* Reset */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color:  #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header{
    padding: 10px 20px;
    background-color: white;
    margin-bottom: 50px;
}

.Logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

/* Main */

/* Button */
.container1{
    max-width: 800px;
    margin: auto;
    padding: 10px 30px;
    background-color: white;
    border-bottom: 1px solid #F6F8F9;
}

.button{
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
}

.blu{
    background-color: #45ABEA;
    color: white;
}

.grey{
    background-color: white;
    border: 1px solid lightgrey;
    color: lightgrey;
}

/* New task */

.container2{
    max-width: 800px;
    margin: auto;
    background-color: white;
}

h3{
    padding: 20px 30px;
}

.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;text-align: center;
    margin-left: 30px;
}

.check{
    border: 1px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
}

.cross{
    border: 1px solid red;
    color: red;
}

p{
    display: inline-block;
    font-size: large;
}

.tag{
    font-size: 10px;
    color: white;
}

.violet{
    background-color: #9C72E4;
}

.green{
    background-color: #64C0A9;
}

.orange{
    background-color: #F29E33;
}