/* Reset */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color:  #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header{
    padding: 10px 20px;
    background-color: white;
    margin-bottom: 50px;
}

.Logo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

/* Main */
.container1{
    max-width: 800px;
    margin: auto;
    padding: 10px 30px;
    background-color: white;
    border-bottom: 1px solid #F6F8F9;
}

/* Button */
.button{
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
}

.blu{
    background-color: #45ABEA;
    color: white;
}

.grey{
    background-color: white;
    border: 1px solid lightgrey;
    color: lightgrey;
}